.heading {
  color: white;
  margin-left: 10%;
  margin-top: 10%;
}
.heading h2 {
  font-size: 6vw;
}
.heading p {
  font-size: 30px;
}
.form input {
  display: block;
  margin-top: auto;
  padding: 24px 100px;
  background-color: rgb(245, 245, 239);
}

.form {
  margin-left: 10%;
  margin-top: 2%;
  color: white;
  display: inline-block;
}

.form button {
  display: inline-block;
  border: none;
  background-color: rgba(212, 33, 33, 0.966);
  color: white;
  padding: 15px 50px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  border-radius: 30px;
  margin-top: 15px;
  margin-left: 22%;
}

iframe {
  display: inline;
  float: right;
  margin-right: 12%;
  min-width: 600px;
  min-height: 400px;
}

.followus {
  background-color: rgba(245, 245, 245, 0.616);
  position: absolute;
  bottom: 0px;
  /* margin-bottom: 0; */
  margin-right: 0;
  margin-left: 0;
  /* display: flex; */
  /* justify-content: center; */
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
  width: 100%;
  height: auto;
}

.followus img {
  max-width: 5vw;
  max-height: 5vh;
  margin-right: 20px;
}
