*{
  margin:0;
  max-width: 100%;
}
body{
  background-image: linear-gradient(rgba(65, 61, 61, 0.151),
    rgba(231, 222, 222, 0.151)),
  url("../images/cafe_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#nav {
  position:fixed;
  width: 100%;
  margin-top: 0;
}
#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.763);
  font-weight: 500;
  font-size-adjust: 0.58;
}


#nav li {
  float: right;
}

#nav li a {
  display: block;
  color: black;
  text-align: center;
  margin:0;
  padding: 14px 16px;
  text-decoration: none;
}

#nav li a:hover {
  background-color: rgb(183, 183, 183);
}


.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.boxes div {
  background-color: rgba(255, 255, 255, 0.548);
  text-align: center;
  max-width:70%;
  margin: 3%;
}
#whatsup div{
  margin-top:5%;
}
#breakfast div{
   margin-top: 8%;

}

.section-title{
  font-size: 60px;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  
}
 .menu table{
  border-spacing:15vw 1vh;
  margin-left: auto;
  margin-right: auto;
}

#food{
 text-align: left;
}


