table {
  border-spacing: 0px;
}

td {
  padding: 30px;
  margin: 10px;
  text-align: center;
  font-size: larger;
  font-weight: 800;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

h1 {
  font-size: 50px;
  text-align: center;
}
